<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>自动化测试平台</title>
</head>
<body role="document">
    <nav class="navbar navbar-expand-sm bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">&nbsp;</a>
            <!--<ul class="nav justify-content-center">-->
            <!--</ul>-->
            <div class="navbar-header">
                <a href="#" class="navbar-brand">自动化测试平台-系统设置</a>
            </div>
            <ul class="nav justify-content-end">
                <li class="nav-link"><a style="color: white" href="#">{{user}}</a></li>
                <li class="nav-link"><a style="color: white" href="/logout/">退出</a></li>
            </ul>
        </div>
    </nav>
    <!-- 系统设置 -->
    <div class="row" style="padding-top: 20px;">
    <div class="col-md-11" style="margin: 0 auto">
    <table class="table table-striped" >
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <br>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>设置名称</th>
                    <th>设置的值</th>
                </tr>
            </thead>
            <tbody>
                {% for set in sets %}
                <tr>
                    <th>{{ set.id }}</th>
                    <th>{{ set.setname }}</th>
                    <th>{{ set.setvalue }}</th>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    </div>
    </div>
</body>
</html>