<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>自动化测试平台</title>
</head>
<body role="document">
    <nav class="navbar navbar-expand-sm bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">&nbsp;</a>
            <!--<ul class="nav justify-content-center">-->
            <!--</ul>-->
            <div class="navbar-header">
                <a href="#" class="navbar-brand">自动化测试平台-Bug管理</a>
            </div>
            <ul class="nav justify-content-end">
                <li class="nav-link"><a style="color: white" href="#">{{user}}</a></li>
                <li class="nav-link"><a style="color: white" href="/logout/">退出</a></li>
            </ul>
        </div>
    </nav>
    <!-- 单一接口测试用例 -->
    <div class="row" style="padding-top: 20px;">
    <div class="col-md-11" style="margin: 0 auto">
    <table class="table table-striped" >
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <br>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>产品</th>
                    <th>bug名称</th>
                    <th>bug详情</th>
                    <th>解决状态</th>
                    <th>严重程度</th>
                    <th>创建人</th>
                    <th>分配给</th>
                    <th>更新时间</th>
                </tr>
            </thead>
            <tbody>
                {% for bug in bugs %}
                <tr>
                    <th>{{ bug.id }}</th>
                    <th>{{ bug.Product.productname }}</th>
                    <th>{{ bug.bugname }}</th>
                    <th>{{ bug.bugdetail }}</th>
                    <th>{{ bug.bug_status }}</th>
                    <th>{{ bug.bug_level }}</th>
                    <th>{{ bug.bug_creater }}</th>
                    <th>{{ bug.bugassign }}</th>
                    <th>{{ bug.create_time }}</th>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    </div>
    </div>
</body>
</html>